.ed--main {
    width:100%;
    background: white;
    position: relative;
    display: block;

    h1 {
        letter-spacing: normal;
        text-transform: none;
        font-size: 55px;
        line-height: 1.15;
        margin-bottom: 30px;

        @media only screen and (max-width: 767px) {
            & {
                font-size:40px;
                margin-bottom: 16px;
            }

            br {
                display: none;
            }
        }
    }

    h2 {
        letter-spacing: normal;
        text-transform: none;
        font-size: 32px;
        line-height: 1.15;
        margin-bottom: 30px;
        margin-top:30px;

        @media only screen and (max-width: 767px) {
            & {
                font-size:26px;
                margin-bottom: 14px;
            }

            br {
                display: none;
            }
        }

        &.styled {
            font-size:24px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        &.sectionTitle {
            font-family: Polaris-Book,sans-serif;
        }
    }

    h3.itemBrand {
        font-size: 1.4rem;
        line-height: 1.64;
        letter-spacing: .16rem;
    }

    p {
        font-size: 16px;
        line-height: 1.5;

        @media only screen and (max-width: 767px) {
            & {
                font-size:14px;
            }
        }
    }
}

.ed--module {
    width: 100%;
    max-width: 1440px;
    padding:22px;
    margin:0 auto !important;
    display: block;

    a.itemLink {
        margin-top: 15px;
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: underline;
        transition: color 0.2s ease-out;
        font-size: 10px;

        &:hover {
            color: #666;
        }
    }

    p.itemDesc {
        font-size:14px;
    }
}

.arrow-divider {
    width: 100%;
    position: relative;
    text-align: center;
    //margin: 20px 0 20px;
    svg {
        max-width:20px;
    }
    @media only screen and (max-width: 767px) {
        & {
            //margin:0 0 40px 0;
        }
    }
}

.cta-row {
    margin-top:30px;
    width: 100%;

    a {
        display: inline-block;
        margin-right:30px;
        margin-bottom:20px;

        &:last-of-type {
            margin-right:0;
        }

        @media only screen and (max-width: 767px) {
            & {
                margin:0 10px 15px 10px;
            }
        }
    }

    button {
        text-transform: uppercase;
        // white-space: nowrap;
        span {
            line-height: 1.4;
        }
    }
}

.swiper-button-next, .swiper-button-prev {
    width:11px;

    svg {
        width:100%;
        height:auto;
        max-width:11px;
    }
}

.swiper-button-next {
    left:auto;
    right:15px !important;
}

.swiper-button-prev {
    right:auto;
    left:15px !important;
}

hr.genderDivider {
    width:75%;
    height:2px;
    background: #979797;
    border:0;
    margin-top:30px;
    @media only screen and (max-width: 767px) {
        & {
            width:85%;
        }
    }
}
