@import '_modules/swiper';
@import '_modules/hero';
@import '_modules/slider-feed';
@import '_modules/product-grid';

.ed--main {
    width:100%;
    background: white;
    position: relative;
    display: block;

    h1 {
        letter-spacing: normal;
        text-transform: none;
        font-size: 55px;
        line-height: 1.15;
        margin-bottom: 30px;

        @media only screen and (max-width: 767px) {
            & {
                font-size:40px;
                margin-bottom: 16px;
            }

            br {
                display: none;
            }
        }
    }

    h2 {
        letter-spacing: normal;
        text-transform: none;
        font-size: 40px;
        line-height: 1.15;
        margin-bottom: 30px;

        @media only screen and (max-width: 767px) {
            & {
                font-size:34px;
                margin-bottom: 14px;
            }

            br {
                display: none;
            }
        }

        &.styled {
            font-size:24px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }

    p {
        font-size: 16px;
        line-height: 1.5;

        @media only screen and (max-width: 767px) {
            & {
                font-size:14px;
            }
        }
    }
}

.ed--module {
    width: 100%;
    max-width: 1440px;
    padding:30px;
    margin:0 auto !important;
    display: block;

    a.itemLink {
        margin-top: 15px;
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: underline;
        transition: color 0.2s ease-out;

        &:hover {
            color: #666;
        }
    }

    p.itemDesc {
        font-size:14px;
    }
}

.arrow-divider {
    width: 100%;
    position: relative;
    text-align: center;
    //margin: 20px 0 20px;
    @media only screen and (max-width: 767px) {
        & {
            //margin:0 0 40px 0;
        }
    }
}

.cta-row {
    margin-top:30px;
    width: 100%;

    a {
        display: inline-block;
        margin-right:30px;
        margin-bottom:20px;

        &:last-of-type {
            margin-right:0;
        }

        @media only screen and (max-width: 767px) {
            & {
                margin:0 10px 15px 10px;
            }
        }
    }

    button {
        text-transform: uppercase;
        // white-space: nowrap;
        span {
            line-height: 1.4;
        }
    }
}
